<div class="wrapper">
  <div class="left_side">
    <%= render "side_bar" %>
    <div class="left_header"></div>
    <div class="left_bottom"></div>
  </div>
  <div class="chat">
    <%= render "main_chat" %>
    <div class="chat_top"></div>
    <div class="chat_middle"></div>
    <div class="chat_bottom"></div>
  </div>
</div>